*{
    margin: 0;
    padding: 0;
}
header{
    height: 100vh;
    width: 100%;
    background: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
#menu{
    display: none;
}
.logo{
    margin: 1rem;
    color: rgb(73, 48, 3);
    font-size: 40px;
}
nav{
    padding-left: 2rem;
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14% auto 34%;
    height: 25vh;
}
nav .fa{
    display: none;
}
.nav-links{
    margin-top: 1.5rem;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(73, 48, 3);
    text-decoration: none;
    font-size: 22px;
}
.nav-links ul li a:hover{
    color: rgb(29, 180, 16);
    transition: .5s;
}
.angel-area{
    box-sizing: border-box;
    height: 97vh;
}
.angel{
    object-position: right;
}
.container{
    display: flex;
    gap: 82vh;
}
.text-box{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    padding-left: 12vh;
    align-items: left;
}
.text-box h1{
    color: rgb(73, 48, 3);
}
.text-box h3{
    color: rgb(139, 92, 3);
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-radius: 1.3rem;
    padding: 12px 34px;
    font-size: 13px;
    background: rgb(160, 106, 7);
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 2rem 3rem rgb(61, 41, 2);
    transition: .5s;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
#close{
    display: none;
}
@media screen and (max-width:768px){
    #menu{
        padding-top: 10px;
        padding-left: 220px;
        display: block;
    }
    #menu-off{
        display: none;
    }
    .nav-links{
        display: none;
        background: transparent;
        height: auto;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        animation: sideMenu 400ms ease forwards;
    }
    @keyframes showMenu {
        to{
            left: 0;
        }
    }
    nav{
        color: rgb(73, 48, 3);
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul li{
        display: block;
    }
    .logo{
        font-size: 20px;
    }
    nav{
        padding-left: 2vh;
        grid-template-columns: 14% 25% 34%;
    }
    .nav-links ul li a{
        font-size: 12px;
    }
    .angel{
        display: block;
        align-self: right;
        height: 47vh;
    }
    #close{
        cursor: pointer;
        display: block;
    }
    .container{
        display: flex;
        gap: 2vh;
    }
    .text-box{
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding-left: 7vh;
        align-items: left;
    }

    .text-box h1{
        color: rgb(73, 48, 3);
    }
    .text-box h3{
        color: rgb(139, 92, 3);
    }
    .btn{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border-radius: 1.3rem;
        padding: 9px 7px;
        background: rgb(160, 106, 7);
        cursor: pointer;
        font-size: 11.5px;
    }
}